<!DOCTYPE html>

<html lang="en" ng-app="helloModule">
<head>
    <meta charset="utf-8" />
    <title>Smashing Directives</title>    
</head>
<body ng-controller="myHelloController">
    <h3>{{message}}</h3>
    <h3 ng-bind="message"></h3>
    <p>{{editmessage}}</p>
    <div>
        <p ng-repeat="pessoa in pessoas">
            {{pessoa.nome}}, {{pessoa.tel}}
        </p>
    </div>
    <button ng-click="testChange()">Change header!</button>

    <input type="text" ng-model="editmessage"/>

    <script src="js/angular.js"></script>
    <script src="js/module/hello-module.js"></script>
    <script src="js/controllers/hello-controller.js"></script>

</body>
</html>
