<div class="ui centered container">
    <div class="ui padded segment container">
        <form class="ui form">
            <div class="field">
                <label>Nome</label>
                <input type="text" name="name" ng-model="vm.client.name" />
            </div>
            <div class="field">
                <label>Nome</label>
                <input type="text" name="tel" ng-model="vm.client.tel" />
            </div>
            <div class="ui buttons floating right">
                <button class="ui save button" ng-click="vm.add();">Save</button>
                <button class="ui cancel button">Cancel</button>
            </div>
        </form>
    </div>
</div>